.dado {
    border: 4px solid black;
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}

.punto {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.mediox{
    left: 42.5px;
}

.medioy{
    top: 42.5px;
}

.izquierda{
    left:5px;
}

.derecha{
    right: 5px;
}

.arriba{
    top: 5px;
}

.abajo{
    bottom: 5px;
}